@media screen and (max-width: 425px){

  .container{
    .advice-box{
      padding: 1.5em 1em !important;
      .box-body{
        padding: 3em 0 !important;
        h1 {
          font-size: 24px !important;
        }
      }   
  
    }
  }
  
}